<div class="login-container" *ngIf="currentStudent$ | async">
  <h2>Student Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">
    <div class="form-group">
      <label for="studentID">Student ID:</label>
      <input
        type="text"
        id="studentID"
        name="studentId"
        [(ngModel)]="model.studentId"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="model.password"
        required
      />
    </div>
    <button class="btn btn-outline-success" type="submit" >Login</button>
  </form>
</div>
