<div class="container-fluid">
    <h2 class="heading">Request For Outing Permission</h2>
    <form class="form" #outingForm="ngForm" (ngSubmit)="request()" autocomplete="off">


      <div class="form-group">
        <label for="Student ID">StudentID</label>
        <input type="text" 
        name="id" 
        class="form-control"
        [(ngModel)]="model.id"
        required
        >
      </div>

      <div class="form-group">
        <label for="Date">Date:</label>
        <input type="text" 
        name="date" 
        class="form-control" 
        [(ngModel)]="model.date"
        required
        >
      </div>

      <div class="form-group">
        <label for="Day">Day:</label>
        <input type="text" 
        name="day" 
        class="form-control" 
        [(ngModel)]="model.day"
        required
        >
      </div>

      <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" 
        name="name" 
        class="form-control" 
        [(ngModel)]="model.name"
        required
        >
      </div>

      <div class="form-group">
        <label for="Room Number">Room Number:</label>
        <input type="text" 
        name="roomNumber" 
        class="form-control" 
        [(ngModel)]="model.roomNumber"
        required
        >
      </div>

      <div class="form-group">
        <label for="Destination">Destination:</label>
        <input type="text" 
        name="destination" 
        class="form-control"
        [(ngModel)]="model.destination"
        required
        >
      </div>

      <div class="form-group">
        <label for="Current Time">Current Time:</label>
        <input type="text" 
        name="currentTime" 
        class="form-control"
        [(ngModel)]="model.currentTime"
        required
        >
      </div>

      <div class="form-group">
        <label for="In Time">In Time:</label>
        <input type="text" 
        name="inTime" 
        class="form-control"
        [(ngModel)]="model.inTime"
        required>
      </div>
      
      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
  